@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --background-color: #f5f5f5;
  --text-color: black;
  --primary-color: #c8102e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
}

section {
  width: 100%;
  padding: 24px;
}

h1 {
  font-size: 2.8rem;
  color: var(--primary-color);
  font-family: "HeartLand", sans-serif;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-family: "HeartLand", cursive;
  color: var(--primary-color);
}

p {
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "HeartLand";
  src: url("/fonts/heart-land.TTF") format("truetype");
}

#landing-section {
  width: 100%;
  display: flex;
  padding: 16px;
  height: 100dvh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--primary-color);

  > h1 {
    color: white;
    z-index: 10;
  }
}

#poems-section {
  min-height: 35dvh;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  > p {
    margin-top: 16px;
  }
}

#poems-section button {
  border: none;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 20px;
}

#love-section button {
  width: 100%;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 16px;
  padding: 12px 10px;
  border-radius: 10px;
  font-weight: 600;
  background-color: var(--primary-color);
}

#gift-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 100%;
  }

  > img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  > span {
    font-size: 2.2rem;
    font-family: "HeartLand";
    color: var(--primary-color);
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  border-top: 1px dotted #333;

  > span {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  #poems-section {
    min-height: 20dvh;
  }

  section {
    padding: 40px 60px;
  }

  #landing-section > h1 {
    font-size: 4rem;
  }

  #love-section button {
    width: fit-content;
    margin: 10px auto;
  }
}
