* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "HeartLand";
    src: url("/fonts/heart-land.TTF") format("truetype");
}
