@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "HeartLand";
    src: url("/fonts/heart-land.TTF") format("truetype");
}

:root {
    --background-color: #f5f5f5;
    --text-color: black;
    --primary-color: #c8102e;
}

#landing-section {
    width: 100%;
    display: flex;
    padding: 16px;
    height: 100dvh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: var(--primary-color);

    > h1 {
        color: white;
        font-family: "HeartLand", sans-serif;
        font-size: 2.8rem;
        z-index: 10;
    }
}

#poems-section {
    width: 100%;
    min-height: 50dvh;
    padding: 24px;

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > h2 {
            font-size: 2.4rem;
            letter-spacing: 1px;
            font-family: "HeartLand";
            color: var(--primary-color);
        }
    }

    > p {
        color: black;
        margin-top: 16px;
        font-size: 1.8rem;
        font-family: "Oswald";
    }
}

#poems-section button {
    border: none;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 20px;
    /*background-color: ;*/
}
