* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "HeartLand";
    src: url("/fonts/heart-land.TTF") format("truetype");
}

:root {
    --background-color: #f5f5f5;
    --text-color: black;
    --primary-color: #c8102e;
}

#landing-section {
    width: 100%;
    display: flex;
    padding: 16px;
    height: 100dvh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: var(--primary-color);

    > h1 {
        color: white;
        font-family: "HeartLand", sans-serif;
        font-size: 2.8rem;
        z-index: 10;
    }
}
