@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
    --text-color: black;
    --primary-color: #c8102e;
    --background-color: #f5f5f5;
    --form-bg: lightgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
}

section {
    width: 100%;
    padding: 24px;
}

h1 {
    font-size: 2.8rem;
    color: var(--primary-color);
    font-family: "HeartLand", sans-serif;
}

h2 {
    font-size: 2.4rem;
    letter-spacing: 1px;
    font-family: "HeartLand", cursive;
    color: var(--primary-color);
}

p {
    font-size: 1.3rem;
    font-family: "Oswald", sans-serif;
}

a {
    text-decoration: none;
}

label {
    font-size: 14px;
    color: #333;
}

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "HeartLand";
    src: url("/fonts/heart-land.TTF") format("truetype");
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.auth-img-container {
    width: 50%;
    height: 100%;
    background-image: url("/images/auth-img.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.auth-form-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    > p {
        width: 70%;
        margin: 10px 0;
        color: #0b0e16;
        font-size: 16px;
        font-weight: 500;
    }
}

.auth-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-input {
    height: 32px;
    border-radius: 5px;
    border: none;
    padding: 0 8px;
    background-color: var(--form-bg);
}

@media screen and (max-width: 768px) {
    .auth-img-container {
        display: none;
    }

    .auth-form-container {
        width: 100%;

        > p {
            width: 90%;
        }
    }

    .auth-form {
        width: 90%;
    }
}
